/* selektorius all (*) - nurodyti stiliai taikomi visiems elementams:
naudoti saikingai, nes prailgina tinklapio krovimo laiką. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* baziniai dokumento siliai: dekoratyvios detalės,- naudojamas flex išdėstymo modelis */

body {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #5D636C;
}

.left-block {
  width: 10vw;
  background: #6caee0;
  height: 100vh;
}

.right-block {
  width: 40vw;
  background: #6caee0;
  height: 100vh;
}

/* šiuos stilius galite naudoti formos elementų stilizavimui */

form {
  display: inline;
  width: 50vw;
  height: 100vh;
  padding: 5vh 5vw;
  padding-left: 100;
  font-size: 1em;
}

fieldset {
}

legend {

}

input {

}

textarea {
  display: inline;
  width: 340px;
  height: 75px;;
  padding: 10px;
  border: 1px solid #DCDCDD;
  box-shadow: 2px 6px 8px #e6e6e6;
  margin: 15px 0;
  margin-left: 52%;
}
input[type="text"]{
  display: inline;
  width: 350px;
  height: 50px;;
  padding: 10px;
  border: 1px solid #DCDCDD;
  box-shadow: 2px 5px 9px #e6e6e6;
  margin: 15px 0;
  margin-left: 52%;
}

input[type="email"] {
  display: inline;
  width: 340px;
  height: 50px;;
  padding: 10px;
  border: 1px solid #DCDCDD;
  box-shadow: 2px 5px 9px  #e6e6e6;
  margin: 15px 0;
  margin-left: 50%;
  font-color:  #e6e6e6;
}

input[type="checkbox"] {
  margin: 0 5px;
  padding-bottom: 7%;
  position: relative;
  top: -7px;
  height: 20px;
  width: 20px;
}

::placeholder {
  color: #e6e6e6;
}

button[type="submit"] {
  display: inline;
  width: 150px;
  height: 50px;;
  padding: 10px 30px;
  border: 0.5px solid #4788c8;
  background-color: #4788c8;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 13px 0;
  cursor: pointer;
  margin-left: 75%;
  white-space:nowrap;
  overflow:hidden;
}

Img {
  display: inline-block;
  padding: 0;
  margin: auto;
  margin-left: 1%;
}

H1 {
  text-align: right;
  font-size: 30px;
  font-weight: normal;
}

Hr {
  margin-top: 0.5em;
  margin-bottom: 1em;
  border-top: 4px solid #6caee0;
}

Span {
  width: 35%;
  margin-right: 10%;
  display: inline-block;
  text-align: right;
  font-size: 20px;
}
